* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bg-color: linear-gradient(-180deg, rgb(203, 235, 248), rgb(255, 255, 255));

$sans-serif: 'Public Sans', 'StandardBook';
$nav-color: #f0fafc;
$feature-color: #f0fafc;
$purple: #594cda;
$pink: #eb417d;

$text-color: grey;
// $header-color: #cbebf8;

@font-face {
  font-family: 'FA';
  src: url('../../assets/fonts/fa-regular-400.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StandardBook';
  src: url('../../assets/fonts/standard-book-webfont.woff2');
  font-weight: normal;
  font-style: normal;
}
html {
  width: 100%;
  min-height: 100%;

  font: {
    family: $sans-serif;
    size: 16px;
  }
}
body {
  width: 100vw;
  height: 100%;
  background: white;
}
main {
  background: $bg-color;
  padding: 0 4rem;
}
img {
  margin: 0 auto;
  width: 100%;
}
p {
  color: $text-color;
}
header {
  //   background: $header-color;
  height: fit-content;
  align-items: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  > * {
    flex: 1 1 50%;
    width: fit-content;
    align-self: center;
    padding: 4em;
  }
  figure {
    padding: 6rem;
    flex: 1 2 50%;
  }
  .tagline {
    p {
      color: $text-color;
    }
  }
}
h1 {
  font: {
    family: $sans-serif;
    size: 3rem;
    weight: 600;
  }
  line-height: 4rem;
}
h2 {
  font: {
    size: 2rem;
  }
  line-height: 2rem;
}
h3 {
  font: {
    size: 1.2rem;
  }
}
p {
  line-height: 1.3rem;
}
a {
  text-decoration: none;
  color: initial;
  &:hover {
    color: coral;
  }
}

i:hover {
  color: coral;
}
nav {
  height: 5vh;
  max-height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  div {
    padding: 0 1em;
  }
  .roll-menu ul {
    display: flex;
    gap: 2em;
  }
}
.mobile {
  display: none;
}
.logo img {
  height: 3vh;
}
.download {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  div {
    padding: 2rem 2rem 2rem 0;
    i {
      margin-right: 1rem;
    }
    a {
      color: white;
      background: coral;
      border-radius: 2em;
      padding: 1.2em;
      &:hover {
        background: blue;
      }
    }
    a:first-child {
      background: $purple;
    }
  }

  div:last-child a {
    background: $pink;
  }
}

article {
  min-height: 30vh;
}

.boasting {
  padding: 3em;
  text-align: center;
}

.features {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: center;
  padding: 4rem 10rem;
  gap: 1rem;

  div {
    flex: 1 1 calc(33% - 3rem);
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: $feature-color;
    border-radius: 2em;
    min-width: 300px;

    > * {
      padding: 1em 0 0 0;
    }
    img {
      width: 3rem;
    }
    p {
      text-align: center;
    }
  }
}

.current a {
  color: coral;
}

@media only screen and (max-width: 800px) {
  main {
    padding: 0;
  }

  header {
    .tagline {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
      .download {
        display: flex;
        flex-flow: column wrap;
        > * {
          padding: 2rem;
          margin: 0;
          a:hover {
            color: $text-color;
            background: white;
          }
        }
      }
    }
    figure {
      padding: 4rem;
    }
  }
  .roll-menu {
    display: none;
  }
  .mobile {
    display: block;
  }
  nav {
    background: $nav-color;
  }
  .features {
    padding: 4rem 4rem;
  }
}
